.mode-dark {
	body {
		@apply bg-dark text-textDark;    
	}

  #app {
    transition: box-shadow .2s;
    @screen sm {
      box-shadow: inset 5px 5px 10px rgba(0, 0, 0, .1), inset -5px -5px 8px rgba(255, 255, 255, .05);
    }
  }

  .n9m {
    @apply bg-dark shadow-n9m-dark;

    &--inner {
      @apply shadow-inner-n9m-dark;
    }

    &--active:active {
      @apply shadow-inner-n9m-dark;
    }
  }

  .patterns {
    background-image: linear-gradient(90deg, transparent 40%, #4E5161 30%);
  }

  .posts {
    .pagination {
      > li {
        > a {
          @apply bg-dark text-textDark shadow-n9m-dark;

          &:hover {
            @apply bg-dark;
          }

          &:active {
            @apply shadow-inner-n9m-dark;
          }
        }

        &.active {
          > a {
            @apply text-accent bg-dark shadow-inner-n9m-dark;
          }
        }

        &.disabled {
          > a {
            @apply text-dark-200 #{!important};
          }
          > a:active, > a:focus {
            @apply bg-dark shadow-n9m-dark;
          }
        }
      }
    }
  }

  .tags-page-list {
    &__link {
      @apply text-textDark shadow-n9m-dark bg-dark;

      &:active {
        @apply shadow-inner-n9m-dark;
      }
    }
  }
}
