/**
 *  Globals Index
 */

@import "transitions";
@import "a11y";
@import "dark";

#app {
	@apply w-full rounded-lg px-8;
	transition: box-shadow .5s .2s;

	@screen sm {
		box-shadow: inset 5px 5px 30px rgba(0, 0, 0, .05), inset -1px -1px 2px rgba(0, 0, 0, .03), inset -8px -8px 8px rgba(255, 255, 255, .6);
	}

	@screen lg {
		@apply px-12;
	}
}

.container {
	transition: max-width .5s;
}

.n9m {
	@apply rounded bg-light shadow-n9m-light;

	&--inner {
		@apply shadow-inner-n9m-light;
	}
}

.base-link {
	@apply relative;

	&:before {
		@apply absolute bottom-0 bg-accent;
		content: '';
		width: 40%;
		height: 2px;
		transition: width .3s ease-in-out;
	}

	&:hover:before {
		width: 100%;
	}
}