.content__default {
  @apply text-xl;
  display: block;
  min-height: 150px;
  line-height: 1.8;

  p {
    word-wrap: break-word;
    margin-bottom: 40px;

    code {
      @apply text-sm bg-light-200 text-textLight font-bold;
      border-radius: 4px;
      padding: 2px 5px;
    }

    abbr {
      cursor: help;
      border-bottom: none;
      text-decoration: underline;
      text-decoration-style: dotted;
    }
  }

  p, ol, ul {    
    line-height: 1.58em;
  }

  h1, h2, h3, h4, h5, h6, ol, ul, pre, table, figure { margin-bottom: 1.2em; }
  
  h1, h3, h4, h5, h6 {
    .header-anchor {
      @apply hidden;
    }
  }

  h1 {
    @apply font-bold text-3xl;

    @screen sm {
      @apply text-4xl;
    }
  }

  h2 {
    @apply font-bold;
    position: relative;
    margin-top: 60px;
    z-index: 2;
    font-size: 38px;
    line-height: 1.04em;
    margin-bottom: 0;
    

    + p {
      margin-top: 30px;
    }    

    .header-anchor {
      @apply text-accent;
      position: absolute;
      top: 0px;
      left: -.5em;
      padding-right: 4px;
      opacity: .1;
      text-decoration: none;
      font-size: 80px;
      transition: opacity 1s .5s;
      z-index: 1;
    }

    &:hover {
      .header-anchor {
        opacity: .3;
        transition: opacity .5s;
      }
    }
  }

  h3 {
    font-size: 30px;
    line-height: 1.10em;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  @screen sm {
    h2 {
      font-size: 30px;
      line-height: 1em;
    }

    h3 {
      font-size: 26px;
      line-height: 1em;
    }
  }

  a:not(.header-anchor) {
    @apply border-b-2 border-dotted border-accent;
    position: relative;
    text-decoration: none;

    &:hover {
      @apply border-solid;
    }

    .icon.outbound {
      color: inherit;
      margin-left: 6px;
    }
  }

  blockquote {
    @apply text-light-700 border-accent;
    margin: 2em 0 2em 1em;
    padding: 4px 24px;
    font-style: italic;
    border-left-width: .375em;
    p {
      margin-top: 0;
      &:last-child { margin-bottom: 0 }
    }
    footer {
      font-size: 80%;
    }
  }

  strong {
    font-weight: 700;
    margin: 0 0.2em;
  }

  code, kbd {
    display: inline;
    padding: .125em .25em;
    box-shadow: none;
  }

  ol, ul {
    padding-left: 2em;
    margin-top: 40px;
    margin-bottom: 40px;

    li:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  ul li:before {
    @apply text-accent;
    content: "\2192";
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -2em;
    margin-right: 1em;
  }

  table {
    width: 100%;
    border: 1px solid #dedede;
    border-collapse: collapse;
    border-spacing: 0;

    thead {
      tr {
        background: #f8f8f8;
      }
    }

    tbody {
      tr {
        &:hover {
          background: #efefef;
        }
      }
    }

    td, th {
      border: 1px solid #dedede;
      padding: .375em .75em;
    }
  }

  hr {
    @apply border border-light-200;
  }

  video, audio {
    max-width: 100%;
  }

  img {
    @apply w-full shadow-lg rounded-lg;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .observer {
    text-align: center;
  }
    
  div[class*=language-] {
    margin-bottom: 30px;
  }

  code[class*=language-] ,pre[class*=language-] {
    font-size: 1.10rem;
    background: none;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
    font-weight: 400;
    color: lighten(#a074c4, 20%);
  }

  pre[class*=language-] {
    @apply px-4 pb-8;
    position: relative;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.7rem;
    padding-top: 5rem;

    @screen md {
      @apply px-8;
    }

    code {
      margin: 0;
      padding: 0;

      &:before {
        position: absolute;
        top: 30px;
        left: 18px;
        content: '';
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: #FF886E;
        box-shadow: 18px 0 0 0 #F2C549, 36px 0 0 0 #88DCCD;

        @screen md {
          left: 32px;
        }
      }
    }
  }
    
  :not(pre)>code[class*=language-],pre[class*=language-] { 
    @apply bg-dark shadow-inner-n9m-dark;
  }
  :not(pre)>code[class*=language-] {
      padding: .1em;
      border-radius: .3em;
      white-space: normal;
  }
  .token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog { color:#999 }
  .token.punctuation { color:#ccc }
  .token.attr-name,.token.deleted,.token.namespace,.token.tag { color:#e2777a }
  .token.function-name { color:#6196cc }
  .token.boolean,.token.function,.token.number { color:#55b5db }
  .token.class-name,.token.constant,.token.property,.token.symbol { color:#f8c555 }
  .token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector { color:#e6cd69 }
  .token.attr-value,.token.char,.token.regex,.token.string,.token.variable { color: #7ec699 }
  .token.entity,.token.operator,.token.url { color: #9fca56 }
  .token.bold,.token.important { font-weight: 700 }
  .token.italic { font-style: italic }
  .token.entity { cursor: help }
  .token.inserted { color: green }
  .token.template-string > .token.string { color: rgba(255, 255, 255, .8) }

  .highlighted-line {
    display: block;
    margin: 0 -1.5rem;
    padding: 0 1.5rem;
    background-color: rgba(0, 0, 0, 66%);
  }

  *:first-child {
    margin-top: 0;
  }

  iframe {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .figurecode {
    @apply relative;
    
    &__caption {
      @apply absolute z-20 text-sm right-0 text-right w-full text-light;
      top: 25px;
      padding-right: 30px;
    }

    &__content {
      @apply relative z-10;
    }

    &__copy {
      @apply absolute z-10 text-xs text-textDark;
      right: 16px;
      bottom: 10px;
    }
  }
}
