@import 'settings/index';
@import 'globals/index';

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-light p-0 text-textLight tracking-wide antialiased;
	font-family: $font-stack;
	transition: all .5s;

	@screen md {
		@apply p-4;
	}
}

h1, h2, h3 {
	@apply leading-none tracking-wider;
}